Teoría de Algoritmos I (75.29  95.06).zip
Teoría de Algoritmos I (75.29  95.06)/ejercicios/1. Ejercicios - Fuerza Bruta.pdf
Teoría de Algoritmos I (75.29  95.06)/ejercicios/3. Ejercicios - División y conquista.pdf
Teoría de Algoritmos I (75.29  95.06)/ejercicios/4. Ejercicios - Programacion dinamica.pdf
Teoría de Algoritmos I (75.29  95.06)/ejercicios/2. Ejercicios - Greedy.pdf
Teoría de Algoritmos I (75.29  95.06)/ejercicios/5. Ejercicios - Redes de Flujo.pdf
Teoría de Algoritmos I (75.29  95.06)/ejercicios/6. Ejercicios - Clases de complejidad.pdf
Teoría de Algoritmos I (75.29  95.06)/ejercicios/7. Ejercicios_ Amortizado.pdf
Teoría de Algoritmos I (75.29  95.06)/ejercicios/8. Ejercicios_ Algoritmos randomizados.pdf
Teoría de Algoritmos I (75.29  95.06)/ejercicios/9. Ejercicios_ Algoritmos de aproximacion.pdf
Teoría de Algoritmos I (75.29  95.06)/ejercitacion/Guia1.ipynb
Teoría de Algoritmos I (75.29  95.06)/ejercitacion/Guia2.ipynb
Teoría de Algoritmos I (75.29  95.06)/ejercitacion/Guia3.ipynb
Teoría de Algoritmos I (75.29  95.06)/ejercitacion/Parcial 1.ipynb
Teoría de Algoritmos I (75.29  95.06)/ejercitacion/Practica.ipynb
Teoría de Algoritmos I (75.29  95.06)/ejercitacion/Resumen.ipynb
Teoría de Algoritmos I (75.29  95.06)/Libros/allpairsshortestpath.pdf
Teoría de Algoritmos I (75.29  95.06)/Libros/J. Kleinberg, E. Tardos, Algorithm Design, Addison Wesley (2006).pdf
Teoría de Algoritmos I (75.29  95.06)/Libros/T. Cormen, C. Leiserson, R. Rivest, C. Stein, Introduction to Algorithms (cuarta edición), MIT Press (2022).pdf
Teoría de Algoritmos I (75.29  95.06)/Libros/M. Sipser, Introduction to the Theory of Computation (tercera edición), Cengage Learning (2013).pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/1. generar y probar - Introduccion.pdf
Teoría de Algoritmos I (75.29  95.06)/tps/tp2/Consigna.pdf
Teoría de Algoritmos I (75.29  95.06)/tps/tp3 final/5 Cazadores de Victor - TP Final Entrega 1.pdf
Teoría de Algoritmos I (75.29  95.06)/tps/tp3 final/Algoritmos de Christofides - Explicación, desarrollo y pseudocódigo.mp4
Teoría de Algoritmos I (75.29  95.06)/tps/tp3 final/corrección.txt
Teoría de Algoritmos I (75.29  95.06)/tps/tp3 final/Teoría de Algoritmos I - Video 1.pptx
Teoría de Algoritmos I (75.29  95.06)/tps/tp3 final/Trabajo Práctico Final.pdf
Teoría de Algoritmos I (75.29  95.06)/tps/tp2/Cazadores de Bytes_TP2_Entrega 2/codigo/punto2/red2.txt
Teoría de Algoritmos I (75.29  95.06)/tps/tp2/Cazadores de Bytes_TP2_Entrega 2/codigo/punto2/red.txt
Teoría de Algoritmos I (75.29  95.06)/tps/tp2/Cazadores de Bytes_TP2_Entrega 2/codigo/punto2/ovnis.py
Teoría de Algoritmos I (75.29  95.06)/tps/tp2/Cazadores de Bytes_TP2_Entrega 2/codigo/punto1/caballeros.txt
Teoría de Algoritmos I (75.29  95.06)/tps/tp2/Cazadores de Bytes_TP2_Entrega 2/codigo/punto1/arturo.py
Teoría de Algoritmos I (75.29  95.06)/tps/tp2/Cazadores de Bytes_TP2_Entrega 2/Cazadores de Bytes_TP2_Entrega 2_Informe.pdf
Teoría de Algoritmos I (75.29  95.06)/tps/tp2/Cazadores de Bytes_TP2_Entrega 1/codigo/punto2/red.txt
Teoría de Algoritmos I (75.29  95.06)/tps/tp2/Cazadores de Bytes_TP2_Entrega 1/codigo/punto2/ovnis.py
Teoría de Algoritmos I (75.29  95.06)/tps/tp2/Cazadores de Bytes_TP2_Entrega 1/codigo/punto1/caballeros.txt
Teoría de Algoritmos I (75.29  95.06)/tps/tp2/Cazadores de Bytes_TP2_Entrega 1/codigo/punto1/arturo.py
Teoría de Algoritmos I (75.29  95.06)/tps/tp2/Cazadores de Bytes_TP2_Entrega 1/Cazadores de Bytes_TP2_Entrega 1_Informe.pdf
Teoría de Algoritmos I (75.29  95.06)/tps/tp1/punto 2 adivinar-mitad-sin-proba/punto2-mitad.py
Teoría de Algoritmos I (75.29  95.06)/tps/tp1/punto 2 adivinar-mitad-sin-proba/punto2-mitad-prob.py
Teoría de Algoritmos I (75.29  95.06)/tps/tp1/Consigna.pdf
Teoría de Algoritmos I (75.29  95.06)/tps/tp1/Cazadores de Bytes_TP1_Entrega 2_Informe.pdf
Teoría de Algoritmos I (75.29  95.06)/tps/tp1/Cazadores de Bytes - TP1.zip
Teoría de Algoritmos I (75.29  95.06)/tps/tp1/Cazadores de Bytes - TP1 Informe.pdf
Teoría de Algoritmos I (75.29  95.06)/tps/tp1/TDA_TP1_REENTREGA_Cazadores_de_bytes.pdf
Teoría de Algoritmos I (75.29  95.06)/teoria/9. Apunte TDA - Clases de complejidad.pdf
Teoría de Algoritmos I (75.29  95.06)/teoria/8. Apunte TDA - Reducciones polinomiales (Aplicaciones en Redes de flujo).pdf
Teoría de Algoritmos I (75.29  95.06)/teoria/7. Apunte TDA - Redes de flujo.pdf
Teoría de Algoritmos I (75.29  95.06)/teoria/6. Apunte TDA - Programación dinámica.pdf
Teoría de Algoritmos I (75.29  95.06)/teoria/5. Apunte TDA - División y Conquista.pdf
Teoría de Algoritmos I (75.29  95.06)/teoria/4. Apunte TDA - Greedy.pdf
Teoría de Algoritmos I (75.29  95.06)/teoria/3. Apunte TDA - Backtracking y branch and bound.pdf
Teoría de Algoritmos I (75.29  95.06)/teoria/2. Apunte TDA - Fuerza Bruta.pdf
Teoría de Algoritmos I (75.29  95.06)/teoria/1. Apunte TDA - Introduccion.pdf
Teoría de Algoritmos I (75.29  95.06)/tad comprobante.pdf
Teoría de Algoritmos I (75.29  95.06)/powerpoints/clase1/Primer problema 2c2023.pdf
Teoría de Algoritmos I (75.29  95.06)/powerpoints/clase1/Presentacion materia 2c2023.pdf
Teoría de Algoritmos I (75.29  95.06)/powerpoints/clase1/Introduccion 2c2023.pdf
Teoría de Algoritmos I (75.29  95.06)/parciales/parcial 13 nov 2023.pdf
Teoría de Algoritmos I (75.29  95.06)/parciales/2023-10-23.jpg
Teoría de Algoritmos I (75.29  95.06)/parciales/13 nov 2023.pdf
Teoría de Algoritmos I (75.29  95.06)/nota ultimo parcial.txt
Teoría de Algoritmos I (75.29  95.06)/modulos/9. complejidad algorítmica (2da parte)/Progr Dinámica TodoEnUno.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/9. complejidad algorítmica (2da parte)/8. co-NP (OPCIONAL).pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/9. complejidad algorítmica (2da parte)/7. Clique.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/9. complejidad algorítmica (2da parte)/6. SubsetSum.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/9. complejidad algorítmica (2da parte)/5. coloreoDeMapas (OPCIONAL).pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/9. complejidad algorítmica (2da parte)/4. ColoreoDeGrafos.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/9. complejidad algorítmica (2da parte)/3. Viajante.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/9. complejidad algorítmica (2da parte)/2. problemaCaballo (OPCIONAL).pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/9. complejidad algorítmica (2da parte)/1. CicloHamiltoneano.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/8. complejidad algoritmica (1era parte)/7. 3DM.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/8. complejidad algoritmica (1era parte)/6. SetCover.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/8. complejidad algoritmica (1era parte)/5. CoberturaDeVertices.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/8. complejidad algoritmica (1era parte)/4. ConjuntoIndependiente.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/8. complejidad algoritmica (1era parte)/3. ProblemasNPCompletos.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/8. complejidad algoritmica (1era parte)/2. reduccionesPolinomiales.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/8. complejidad algoritmica (1era parte)/1. ClasesComplejidad_PvsNP.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/7. redes de flujo (2da parte)/RedesFlujo TodoEnUno.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/7. redes de flujo (2da parte)/6. RedesFlujo_Torneo.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/7. redes de flujo (2da parte)/5. RedesFlujo_segmentacion.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/7. redes de flujo (2da parte)/4. RedesFlujo_programacion_vuelos.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/7. redes de flujo (2da parte)/3. EdmondsKarp_ejemplo.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/7. redes de flujo (2da parte)/2. RedesFlujo_EdmondKarps.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/7. redes de flujo (2da parte)/1. RedesFlujo_mejoras.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/6. redes de flujo (1era parte)/6. RedesFlujo_proyectos.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/6. redes de flujo (1era parte)/5. RedesFlujo_Encuesta.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/6. redes de flujo (1era parte)/4. RedesFlujo_variantes.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/6. redes de flujo (1era parte)/3. FordFulkerson_ejemplo.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/6. redes de flujo (1era parte)/2. RedesFlujo_fordFulkerson.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/6. redes de flujo (1era parte)/1. RedesFlujo_presentacion.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/5. programación dinámica (2da parte)/programacion dinámica TodoEnUno.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/5. programación dinámica (2da parte)/7. FloydWarshall (OPCIONAL).pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/5. programación dinámica (2da parte)/6. allpairsshortestpath_2 (OPCIONAL).pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/5. programación dinámica (2da parte)/5. allpairsshortestpath (OPCIONAL).pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/5. programación dinámica (2da parte)/4. ProgDinamica_viajante.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/5. programación dinámica (2da parte)/3. ProgDinamica_Mínimoscuadrados.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/5. programación dinámica (2da parte)/2. ProgDinamica_maxSubarray.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/5. programación dinámica (2da parte)/1. ProgDinamica_bellmanFord.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/4. programación dinámica (1era parte)/5. ProgDinamica_mochila.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/4. programación dinámica (1era parte)/4. ProgDinamica_seamCarving.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/4. programación dinámica (1era parte)/3. ProgDinamica_monedas.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/4. programación dinámica (1era parte)/2. ProgDinamica_weightedIntervalScheduling.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/4. programación dinámica (1era parte)/1. ProgDinamica_presentacion.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/3. división y conquista/DyC TodoEnUno.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/3. división y conquista/8.  (OPCIONAL) DyC_FFT.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/2. greedy/3. Greedy_IntervalPartitioningProblem.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/2. greedy/5. Greedy_mochilaFraccionaria.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/2. greedy/6. Greedy_seamcarving.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/2. greedy/7. Greedy_arbolRecubridorMinimo.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/2. greedy/8. Greedy_Huffman.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/2. greedy/Greedy TODO EN UNO.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/3. división y conquista/1. DyC_presentacion.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/3. división y conquista/2. (OPCIONAL) DyC_teoremamaestro_demostracion.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/3. división y conquista/3. DyC_teoremamaestro.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/3. división y conquista/4. DyC_contandoinversiones.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/3. división y conquista/6. DyC_karatsuba.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/3. división y conquista/7. DyC_convexos.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/3. división y conquista/5. DyC_puntosMasCercanos.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/2. greedy/4. Greedy_minimizacionLatencia.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/2. greedy/2. Greedy_IntervalScheduling.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/2. greedy/1. Greedy_Presentación.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/14. computabilidad (2da parte)/7. Teorema Cook Levin.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/14. computabilidad (2da parte)/6. Complejidad con Turing Machines.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/14. computabilidad (2da parte)/5. lenguajes turing no reconocibles.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/14. computabilidad (2da parte)/2. Variantes de maquinas de Turing.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/14. computabilidad (2da parte)/3. Tesis de church turing.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/14. computabilidad (2da parte)/4. Halting Problem.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/14. computabilidad (2da parte)/1. Maquinas de Turing.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/13. computabilidad (1era parte)/7. gramaticas libres de contexto.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/13. computabilidad (1era parte)/6. automatas de pila.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/13. computabilidad (1era parte)/5. Lenguajes regulares.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/13. computabilidad (1era parte)/4. AFND vs AFD.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/13. computabilidad (1era parte)/2. automatas finitos.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/13. computabilidad (1era parte)/1. computabilidad_presentacion.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/12. algoritmos de aproximación/Algoritmos de Aproximación TEU.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/12. algoritmos de aproximación/8. max3sat.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/13. computabilidad (1era parte)/3. automatas finitos no deterministicos.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/12. algoritmos de aproximación/7. Viajanteaprox.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/12. algoritmos de aproximación/6. knapsack.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/12. algoritmos de aproximación/5. VertexCover.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/12. algoritmos de aproximación/4. SetCover.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/12. algoritmos de aproximación/3. SeleccionDeCentros.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/12. algoritmos de aproximación/2. BalanceoDeCarga.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/12. algoritmos de aproximación/1. aproximacionPresentacion.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/11. algoritmos randomizados/Algoritmos Randomizados TEU.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/11. algoritmos randomizados/8. puntosmascercanos randomizado.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/11. algoritmos randomizados/7. Hashing.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/11. algoritmos randomizados/6. Freivalds.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/11. algoritmos randomizados/5. quicksort.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/5. generar y probar - Particiones de conjunto.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/6. Fuerza Bruta - Espacio de estados finitos y recorrido exhaustivo.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/7. Backtracking - Introduccion.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/8. Backtracking - Problema de la mochila.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/9. Backtracking - Problema del viajante de comercio.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/busqueda exhaustiva TODO EN UNO.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/10. análisis amortizado/1. Analisis amortizado.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/10. análisis amortizado/2. Analisis amortizado_contadorbinario.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/10. análisis amortizado/3. Analisis amortizado_tablasexpansibles.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/10. análisis amortizado/Anállisis amortizador TodoEnUno.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/11. algoritmos randomizados/2. mezclaAleatoria.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/11. algoritmos randomizados/3. kEdgeConnectivity.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/11. algoritmos randomizados/4. Contention Resolution.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/11. algoritmos randomizados/1. randomizadosPresentacion.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/4. generar y probar - Combinaciones.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/3. generar y probar - Permutaciones.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/2. generar y probar - n tuplas.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/13. Branch & Bound - Problema del viajante de comercio.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/12. Branch & Bound - Problema de la mochila.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/11. Branch & Bound - Introduccion.pdf
Teoría de Algoritmos I (75.29  95.06)/modulos/1. busqueda exhaustiva/10. Backtracking - K coloreo de grafos.pdf
Teoría de Algoritmos I (75.29  95.06)/link youtube.txt
/Otros
